<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Compensacion Ambiental | Walsh Peru</title>

    <!-- Google Font: Source Sans Pro -->
    {% include "rel.html" %}
</head>
<body class="hold-transition sidebar-mini">
{% include 'messages.html' %}
<div class="wrapper">
    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {% include "sidebar.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Formulario "Vegetacion 2018 - Compensacion Ambiental"</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Formularios</a></li>
                            <li class="breadcrumb-item active">Compensacion Ambiental</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Datos de Usuario-->
        <section class="content">

            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">

                        <!-- Datos de Usuario-->

                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">Datos de Usuario</h3>
                            </div>
                            <div class="card-body">
                                {# user field #}
                                <input
                                        class="form-control {% if form.user.errors %}is-invalid{% endif %}"
                                        type="hidden"
                                        name="user"
                                        value="{{request.user.id}}"/>
                                <div class="invalid-feedback">
                                    {% for error in form.user.errors %}{{ error }}{% endfor %}
                                </div>

                                <div class="form-group">
                                    <label>Datos personales:</label>
                                    <div class="row">

                                        <div class="input-group col-md-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{request.user.first_name}}"  readonly placeholder="Nombre">
                                        </div>

                                        <div class="input-group col-md-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{request.user.last_name}}"  readonly placeholder="Apellido">
                                        </div>

                                        <div class="input-group col-md-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{request.user.profile.celular}}"  readonly>
                                        </div>

                                        <div class="input-group col-md-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                                            </div>
                                            <input type="email" class="form-control" value="{{request.user.email}}"  readonly >
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Departamento / Rol:</label>
                                    <div class="row">

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Departamento" value="{{request.user.profile.departamento}}"  readonly>
                                        </div>

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-pencil-ruler"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Rol" value="{{request.user.profile.rol}}"  readonly>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- /Datos de Usuario-->

                    </div>

                </div>

            </div>
        </section>
        <!-- /Datos de Usuario-->

        <hr size="2px" style="color: #000000;"/>

        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- /.card -->
                <div class="row">
                    <!-- Prime columna 1/2-->
                    <div class="col-md-6">

                        <!--  Caracteristicas Generales-->
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Caracteristicas Generales</h3>
                            </div>
                            <div class="card-body">

                                <div class="form-group">

                                    {# user field #}
                                    <input
                                            class="form-control {% if form.user.errors %}is-invalid{% endif %}"
                                            type="hidden"
                                            name="user"
                                            value="{{request.user.id}}"/>
                                    <div class="invalid-feedback">
                                        {% for error in form.user.errors %}{{ error }}{% endfor %}
                                    </div>

                                    <label>Especie Dominante:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-seedling"></i></span>
                                        </div>
                                        {# especie_dominante field #}
                                        <input type="text"
                                               class="form-control {% if form.especie_dominante.errors %}is-invalid{% endif %}"
                                               name="especie_dominante"
                                               placeholder="Especie_dominante">
                                        <div class="invalid-feedback">
                                            {% for error in form.especie_dominante.errors %}{{ error }}{% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Coordenadas:</label>
                                    <div class="row">

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>X</b></span>
                                            </div>
                                            {# x_norte field #}
                                            <input
                                                    class="form-control {% if form.x_norte.errors %}is-invalid{% endif %}"
                                                    type="number"
                                                    name="x_norte"
                                                    placeholder="Norte"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.x_norte.errors %}{{ error }}{% endfor %}
                                            </div>
                                        </div>

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Y</b></span>
                                            </div>
                                            {# y_este field #}
                                            <input
                                                    class="form-control {% if form.y_este.errors %}is-invalid{% endif %}"
                                                    type="number"
                                                    name="y_este"
                                                    placeholder="Este"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.y_este.errors %}{{ error }}{% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Proyeccion</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fab fa-acquisitions-incorporated"></i></span>
                                        </div>
                                        {# proyeccion field #}
                                        <input
                                                class="form-control {% if form.proyeccion.errors %}is-invalid{% endif %}"
                                                type="text"
                                                name="proyeccion"
                                                placeholder="Proyeccion"/>
                                        <div class="invalid-feedback">
                                            {% for error in form.proyeccion.errors %}{{ error }}{% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Altitud (MSNM):</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-water"></i></span>
                                        </div>
                                        {# altitud_msnm field #}
                                        <input
                                                class="form-control {% if form.altitud_msnm.errors %}is-invalid{% endif %}"
                                                type="number"
                                                name="altitud_msnm"
                                                placeholder="msnm"/>
                                        <div class="invalid-feedback">
                                            {% for error in form.altitud_msnm.errors %}{{ error }}{% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Datum:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                                        </div>
                                        {# datum field #}
                                        <input
                                                class="form-control {% if form.datum.errors %}is-invalid{% endif %}"
                                                type="text"
                                                name="datum"
                                                style="text-transform:uppercase;"
                                                placeholder="Datum"/>
                                        <div class="invalid-feedback">
                                            {% for error in form.datum.errors %}{{ error }}{% endfor %}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /Caracteristicas Generales -->

                    </div>
                    <!-- /Prime columna 1/2 -->

                    <!-- Prime columna 2/2-->
                    <div class="col-md-6">

                        <!-- Datos Generales -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Datos Generales</h3>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label>Disciplina:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fab fa-app-store-ios"></i></span>
                                        </div>

                                        {# disciplina field #}
                                        <input
                                                class="form-control {% if form.disciplina.errors %}is-invalid{% endif %}"
                                                type="text"
                                                name="disciplina"
                                                placeholder="Datum"/>
                                        <div class="invalid-feedback">
                                            {% for error in form.disciplina.errors %}{{ error }}{% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Codigo de Proyecto: / Fecha de Registro:</label>
                                    <div class="row">

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fab fa-pagelines"></i></span>
                                            </div>
                                            {# codigo_proyecto field #}
                                            <input
                                                    class="form-control {% if form.codigo_proyecto.errors %}is-invalid{% endif %}"
                                                    type="text"
                                                    name="codigo_proyecto"
                                                    placeholder="#"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.codigo_proyecto.errors %}{{ error }}{% endfor %}
                                            </div>
                                        </div>

                                        <div class="input-group date col-md-6" id="reservationdate" data-target-input="nearest">

                                            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                            {# fecha_registro field #}
                                            <input type="text"
                                                   class="form-control {% if form.fecha_registro.errors %}is-invalid{% endif %} datetimepicker-input"
                                                   data-target="#reservationdate"
                                                   name="fecha_registro"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.fecha_registro.errors %}{{ error }}{% endfor %}
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>temporada:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-adjust"></i></span>
                                        </div>

                                        {# temporada field #}
                                        <input type="text"
                                               class="form-control {% if form.temporada.errors %}is-invalid{% endif %}"
                                               name="temporada"
                                               placeholder="Temporada"/>
                                        <div class="invalid-feedback">
                                            {% for error in form.temporada.errors %}{{ error }}{% endfor %}
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Unidad de Vegetacion: / Estacion de Muestreo:</label>

                                    <div class="row">
                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fab fa-pagelines"></i></span>
                                            </div>

                                            {# unidad_vegetacion field #}
                                            <input type="text"
                                                   class="form-control {% if form.unidad_vegetacion.errors %}is-invalid{% endif %}"
                                                   name="unidad_vegetacion"
                                                   placeholder="U. Vegetacion"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.unidad_vegetacion.errors %}{{ error }}{% endfor %}
                                            </div>

                                        </div>

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-vials"></i></span>
                                            </div>

                                            {# estacion_muestreo field #}
                                            <input type="text"
                                                   class="form-control {% if form.estacion_muestreo.errors %}is-invalid{% endif %}"
                                                   name="estacion_muestreo"
                                                   placeholder="Est. Muestreo"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.estacion_muestreo.errors %}{{ error }}{% endfor %}
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label>Unidad de Muestreo: / Sub Unidad de Muestreo</label>

                                    <div class="row">

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-vial"></i></span>
                                            </div>

                                            {# unidad_muestreo field #}
                                            <input type="text"
                                                   class="form-control {% if form.unidad_muestreo.errors %}is-invalid{% endif %}"
                                                   name="unidad_muestreo"
                                                   placeholder="U. Muestreo"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.unidad_muestreo.errors %}{{ error }}{% endfor %}
                                            </div>

                                        </div>

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-vial"></i></span>
                                            </div>

                                            {# subunidad_muestreo field #}
                                            <input type="text"
                                                   class="form-control {% if form.subunidad_muestreo.errors %}is-invalid{% endif %}"
                                                   name="subunidad_muestreo"
                                                   placeholder="Sub muestreo"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.subunidad_muestreo.errors %}{{ error }}{% endfor %}
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="form-group">
                                    <label>Metodo de Muestreo: / Tamaño de la unidad de muestreo:</label>

                                    <div class="row">
                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fab fa-accusoft"></i></span>
                                            </div>

                                            {# metodo_muestreo field #}
                                            <input type="text"
                                                   class="form-control {% if form.metodo_muestreo.errors %}is-invalid{% endif %}"
                                                   name="metodo_muestreo"
                                                   placeholder="Met.Muestreo"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.metodo_muestreo.errors %}{{ error }}{% endfor %}
                                            </div>

                                        </div>

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fab fa-accusoft"></i></span>
                                            </div>

                                            {# tamaño_unidad_muestreo field #}
                                            <input type="number"
                                                   class="form-control {% if form.tamaño_unidad_muestreo.errors %}is-invalid{% endif %}"
                                                   name="tamaño_unidad_muestreo"
                                                   placeholder="# Unidad"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.tamaño_unidad_muestreo.errors %}{{ error }}{% endfor %}
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /Card Datos Generales -->

                    </div>
                    <!-- /Prime columna 2/2 -->
                </div>


                <!-- Datos de Habitad -->
                <div class="row" style="justify-content: center">
                    <div class="col-md-6">

                        <!-- Datos de Habitad -->
                        <div class="card card-success">
                            <div class="card-header">
                                <h3 class="card-title">Datos de Habitad</h3>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label>Muestra:</label>
                                    <div class="row">

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-arrows-alt-v"></i></span>
                                            </div>

                                            {# altura_total_muestra field #}
                                            <input type="number"
                                                   class="form-control {% if form.altura_total_muestra.errors %}is-invalid{% endif %}"
                                                   name="altura_total_muestra"
                                                   placeholder="Altura Total"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.altura_total_muestra.errors %}{{ error }}{% endfor %}
                                            </div>

                                        </div>

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-chart-area"></i></span>
                                            </div>

                                            {# area_muestra field #}
                                            <input type="number"
                                                   class="form-control {% if form.area_muestra.errors %}is-invalid{% endif %}"
                                                   name="area_muestra"
                                                   placeholder="Area (l x a)"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.area_muestra.errors %}{{ error }}{% endfor %}
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Profundidad total de calicata: / vegetación: / Materia Organica:</label>

                                    <div class="row">

                                        <div class="input-group col-md-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fab fa-codepen"></i></span>
                                            </div>

                                            {# profundidad_total_calicata field #}
                                            <input type="number"
                                                   class="form-control {% if form.profundidad_total_calicata.errors %}is-invalid{% endif %}"
                                                   name="profundidad_total_calicata"
                                                   placeholder="(m)"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.profundidad_total_calicata.errors %}{{ error }}{% endfor %}
                                            </div>

                                        </div>

                                        <div class="input-group col-md-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-arrows-alt-v"></i></span>
                                            </div>

                                            {# altura_vegetacion field #}
                                            <input type="number"
                                                   class="form-control {% if form.altura_vegetacion.errors %}is-invalid{% endif %}"
                                                   name="altura_vegetacion"
                                                   placeholder="Altura (m)"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.altura_vegetacion.errors %}{{ error }}{% endfor %}
                                            </div>

                                        </div>

                                        <div class="input-group col-md-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-arrows-alt-v"></i></span>
                                            </div>

                                            {# altura_materia_organica field #}
                                            <input type="number"
                                                   class="form-control {% if form.altura_materia_organica.errors %}is-invalid{% endif %}"
                                                   name="altura_materia_organica"
                                                   placeholder="Altura (m)"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.altura_materia_organica.errors %}{{ error }}{% endfor %}
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="form-group">
                                    <label>Estado de conservación del hábitat: / Colector de registro:</label>

                                    <div class="row">

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-home"></i></span>
                                            </div>

                                            {# estado_conservacion_habitat field #}
                                            <input type="number"
                                                   class="form-control {% if form.estado_conservacion_habitat.errors %}is-invalid{% endif %}"
                                                   name="estado_conservacion_habitat"
                                                   placeholder="(m)"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.estado_conservacion_habitat.errors %}{{ error }}{% endfor %}
                                            </div>

                                        </div>

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-book"></i></span>
                                            </div>

                                            {# colector_registro field #}
                                            <input type="number"
                                                   class="form-control {% if form.colector_registro.errors %}is-invalid{% endif %}"
                                                   name="colector_registro"
                                                   placeholder="Altura (m)"/>
                                            <div class="invalid-feedback">
                                                {% for error in form.colector_registro.errors %}{{ error }}{% endfor %}
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="form-group">
                                    <label>Foto:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                                        </div>

                                        {# FOTO field #}
                                        <input type="number"
                                               class="form-control {% if form.FOTO.errors %}is-invalid{% endif %}"
                                               name="FOTO"
                                               placeholder="#"/>
                                        <div class="invalid-feedback">
                                            {% for error in form.FOTO.errors %}{{ error }}{% endfor %}
                                        </div>

                                    </div>
                                </div>

                                <!-- <div class="form-group">
                                  <label>Foto:</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="fas fa-image"></i></span>
                                    </div>
                                    <input type="file" class="form-control">
                                  </div>
                                </div> -->

                                <div class="form-group">
                                    <label>Observacion de Impacto:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-eye"></i></span>
                                        </div>

                                        {# observacion_impacto field #}
                                        <input type="text"
                                               class="form-control {% if form.observacion_impacto.errors %}is-invalid{% endif %}"
                                               name="observacion_impacto"/>
                                        <div class="invalid-feedback">
                                            {% for error in form.observacion_impacto.errors %}{{ error }}{% endfor %}
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- /Datos Habitad -->
                    </div>
                </div>

                <!-- BOTON PARA ENVIAR -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">Enviar Los Datos</h3>
                            </div>
                            <div class="card-body">
                                <center><button class="btn btn-primary col-lg-6" type="submit" >Enviar</button></center>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                Gracias por llenar el formulario.
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>

            </div>

        </section>
        </form>
    </div>
    <!-- /.content-wrapper -->
    {% include "footer.html" %}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
{% block javascript %}
<script src="/static/admin-lte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="/static/admin-lte/plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src=/static/admin-lte/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- InputMask -->
<script src="/static/admin-lte/plugins/moment/moment.min.js"></script>
<script src="/static/admin-lte/plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="/static/admin-lte/plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="/static/admin-lte/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/static/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Bootstrap Switch -->
<script src="/static/admin-lte/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- BS-Stepper -->
<script src="/static/admin-lte/plugins/bs-stepper/js/bs-stepper.min.js"></script>
<!-- dropzonejs -->
<script src="/static/admin-lte/plugins/dropzone/min/dropzone.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/admin-lte/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/admin-lte/dist/js/demo.js"></script>
<!-- Page specific script -->
<script src="/static/admin/js/fecha.js"></script>
{% endblock %}
</body>
</html>
