<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vegetación | Walsh Perú</title>

    <!-- Google Font: Source Sans Pro -->
    {% include "rel.html" %}
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {% include "sidebar.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid" style="text-align: center;">
                <h1>Base de Datos Vegetación</h1>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Datos de Usuario-->
        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">

                        <!-- Datos de Usuario-->
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">Datos de Usuario</h3>
                            </div>
                            <div class="card-body">
                                <input
                                        class="form-control {% if form.user.errors %}is-invalid{% endif %}"
                                        type="hidden"
                                        name="user"
                                        value="{{request.user.id}}"/>
                                <div class="invalid-feedback">
                                    {% for error in form.user.errors %}{{ error }}{% endfor %}
                                </div>

                                <div class="form-group">
                                    <label>Datos personales:</label>
                                    <div class="row">

                                        <div class="input-group col-md-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.user.first_name}}"  readonly placeholder="Nombre">
                                        </div>

                                        <div class="input-group col-md-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.user.last_name}}"  readonly placeholder="Apellido">
                                        </div>

                                        <div class="input-group col-md-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.user.profile.celular}}"  readonly>
                                        </div>

                                        <div class="input-group col-md-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                                            </div>
                                            <input type="email" class="form-control" value="{{vegetacion_bd_uni.user.email}}"  readonly >
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Departamento / Rol:</label>
                                    <div class="row">

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Departamento" value="{{vegetacion_bd_uni.user.profile.departamento}}"  readonly>
                                        </div>

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-pencil-ruler"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Rol" value="{{vegetacion_bd_uni.user.profile.rol}}"  readonly>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- /Datos de Usuario-->

                    </div>

                </div>

            </div>
        </section>
        <!-- /Datos de Usuario-->

        <hr style="background-color: rgb(0, 0, 0); border:solid 1.5px black; margin: 10px 15px 25px 15px" >


        <!-- Contenedor de Cartas -->
        <section class="content">
            <div class="container-fluid">

                <div class="card card-info mb-3">
                    <div class="card-header">
                        <h3 class="card-title">Datos de Registro seleccionado</h3>
                    </div>

                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-6">

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>N°:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.numero}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Disciplina:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.disciplina}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Fecha de registro:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.fecha_registro}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Unidad de vegetación:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.unidad_vegetacion}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Unidad de muestreo:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.unidad_muestreo}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Método de muestreo:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.metodo_muestreo}}" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>División:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.division}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Orden:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.orden}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Nombre común:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.nombre_comun}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Fuente de clasificación taxonomica:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.fuente_clasificacion_taxonomica}}" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>X (NORTE):</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.x_norte}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Y (ESTE):</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.y_norte}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Datum:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.datum}}" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>DAP (cm):</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.DAP_cm}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Altura total (m):</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.altura_total}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Fenología:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.fenologia}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Colector Registro:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.colector_registro}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Uso:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.uso}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>D.S. 043-2006-AG:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.DS0432006AG}}" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>IUCN:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.IUCN}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>CITES:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.CITES}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>TIPO DE GANADO OBSERVADO :</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.tipo_ganado_observado}}" readonly>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6 ">

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Código de proyecto:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.codigo_proyecto}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Temporada:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.temporada}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Estación de muestreo:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.estacion_muestreo}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Subunidad de muestreo:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.subunidad_muestreo}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Tamaño de la unidad de muestreo:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.tamaño_unidad_muestreo}}" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Familia:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.familia}}"readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Especie:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.especie}}"readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Nombre local:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.nombre_local}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Cobertura vegetal (%):</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.cobertura_vegetal}}" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Proyección:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.proyeccion}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Altitud (msnm):</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{vegetacion_bd_uni.altitud_msnm}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Número de individuos:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.numero_individuos}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Estado de conservación del hábitat:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.estado_conservacion_habitat}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Habito:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.habito}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Tipo de Evaluación:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.tipo_evaluacion}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Tipo de uso:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.tipo_uso}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Endemico:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.endemico}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>FOTO:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.FOTO}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Observación:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{vegetacion_bd_uni.observacion}}"readonly>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="card-footer text-center">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <a type="button" href="{% url 'export_basedatos_vegetacion_unico' vegetacion_bd_uni.id %}" class="btn btn-success">Descargar Excel</a>
                            </div>
                            <div class="form-group col-md-6">
                                <a type="button" class="btn btn-danger" onclick="javascript:window.print()" style="color: white">Exportar PDF</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Mas Opciones</h3>
                        </div>

                        <div class="card-body">
                            <a href="{% url 'lista_formularios_vegetacion' %}" class="btn btn-primary col-md-3" type="submit" >Volver</a>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    {% include "footer.html" %}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
{% block javascript %}
<script src="/static/admin-lte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="/static/admin-lte/plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src=/static/admin-lte/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- InputMask -->
<script src="/static/admin-lte/plugins/moment/moment.min.js"></script>
<script src="/static/admin-lte/plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="/static/admin-lte/plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="/static/admin-lte/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/static/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Bootstrap Switch -->
<script src="/static/admin-lte/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- BS-Stepper -->
<script src="/static/admin-lte/plugins/bs-stepper/js/bs-stepper.min.js"></script>
<!-- dropzonejs -->
<script src="/static/admin-lte/plugins/dropzone/min/dropzone.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/admin-lte/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/admin-lte/dist/js/demo.js"></script>
<!-- Page specific script -->
<script src="/static/admin/js/fecha.js"></script>
{% endblock %}
</body>
</html>