<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mamiferos | Walsh Perú</title>

    <!-- Google Font: Source Sans Pro -->
    {% include "rel.html" %}
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {% include "sidebar.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid" style="text-align: center;">
                <h1>Base de Datos Mamiferos</h1>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Datos de Usuario-->
        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">

                        <!-- Datos de Usuario-->
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">Datos de Usuario</h3>
                            </div>
                            <div class="card-body">
                                <input
                                        class="form-control {% if form.user.errors %}is-invalid{% endif %}"
                                        type="hidden"
                                        name="user"
                                        value="{{request.user.id}}"/>
                                <div class="invalid-feedback">
                                    {% for error in form.user.errors %}{{ error }}{% endfor %}
                                </div>

                                <div class="form-group">
                                    <label>Datos personales:</label>
                                    <div class="row">

                                        <div class="input-group col-md-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.user.first_name}}"  readonly placeholder="Nombre">
                                        </div>

                                        <div class="input-group col-md-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.user.last_name}}"  readonly placeholder="Apellido">
                                        </div>

                                        <div class="input-group col-md-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.user.profile.celular}}"  readonly>
                                        </div>

                                        <div class="input-group col-md-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                                            </div>
                                            <input type="email" class="form-control" value="{{mamiferos_bd_unic.user.email}}"  readonly >
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Departamento / Rol:</label>
                                    <div class="row">

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Departamento" value="{{mamiferos_bd_unic.user.profile.departamento}}"  readonly>
                                        </div>

                                        <div class="input-group col-md-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-pencil-ruler"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Rol" value="{{mamiferos_bd_unic.user.profile.rol}}"  readonly>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- /Datos de Usuario-->

                    </div>

                </div>

            </div>
        </section>
        <!-- /Datos de Usuario-->

        <hr style="background-color: rgb(0, 0, 0); border:solid 1.5px black; margin: 10px 15px 25px 15px" >


        <!-- Contenedor de Cartas -->
        <section class="content">
            <div class="container-fluid">

                <div class="card card-danger mb-3">
                    <div class="card-header">
                        <h3 class="card-title">Datos de Registro seleccionado</h3>
                    </div>

                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-6">

                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Código del Proyecto:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.codigo_proyecto}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Fecha de registro:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.fecha_registro}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Temporada:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.temporada}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Unidad de vegetación:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.unidad_vegetacion}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Disciplina Biológica:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.disciplina_biologica}}" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Estación de muestreo:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.estacion_muestreo}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Unidad de muestreo:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.unidad_muestreo}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Subunidad de muestreo:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.subunidad_muestreo}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Método de muestreo:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.metodo_muestreo}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Tamaño de la unidad de muestreo (m):</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.tamaño_unidad_muestreo}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>N° Estaciones de muestreo:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.numero_estaciones_muestreo}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Periodo del dia:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.periodo_dia}}" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Hora de inicio de evaluación:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.hora_inicio_evaluacion}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Hora de finalización de evaluación:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.hora_finalizacion_evaluacion}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Hora de registro:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.hora_registro}}" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Orden:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.orden}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Familia:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.familia}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Especie:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.especie}}" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Nombre común:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.nombre_comun}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Nombre local:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.nombre_local}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Fuente de clasificación taxonomica:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.fuente_clasificacion_taxonomica}}" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>X:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.x}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Y:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.y}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Proyección:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.proyeccion}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Altitud (msnm):</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.altitud_msnm}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Datum:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.datum}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Distancia de la unidad de muestreo:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.distancia_unidad_muestreo}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Distancia perpendicular de la unidad de muestreo:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.distancia_perpendicular_unidad_muestreo}}" readonly>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Tipo de Evaluación:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.tipo_evaluacion}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Tipo de registro:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.tipo_registro}}" readonly>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>N° Registro Directo:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.numero_registro_directo}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>N°Registro indirecto:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.numero_registro_indirecto}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>°Registro por captura (murcis, roedores):</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.registro_captura}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Estado del hallazgo:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.estado_hallazgo}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Observaciones (etología):</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.observaciones_etologia}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Observaciones:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.observaciones}}" readonly>
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-6 ">

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Estado reproductivo:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.estado_reproductivo}}" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Conducta reproductiva:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.conducta_reproductiva}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Conducta social:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.conducta_social}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Especie según Ambiente:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.especie_segun_ambiente}}" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Tipo de locomoción:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.tipo_locomocion}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Tipo de Hábitat:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.tipo_habitat}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Micro-habitat:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.micro_habitat }}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Grupo Trófico:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.grupo_trofico}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Registro de dieta:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.registro_dieta}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Especie Endémica:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.especie_endemica}}" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Nivel de Endemismo:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.nivel_endemismo}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Zona de Endemismo:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.zona_endemismo}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>DS O04-2014-AG:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.DSO042014AG}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>IUCN:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.IUCN }}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>CITES:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.CITES}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Uso potencial:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.uso_potencial}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Observaciones sobre la muestra:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.observaciones_sobre_muestra}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Temperie:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.temperie}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Actividad humana:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.actividad_humana}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Estado de conservación del hábitat:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.estado_conservacion_habitat}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Colector de registro:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.colector_registro}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Codigo de Colecta:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.codigo_colecta}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Tipo de muestra:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.tipo_muestra}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Estado de la muestra:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.estado_muestra}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Tipo de preparación de la muestra:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.tipo_preparacion_muestra}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Institución de depósito:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.institucion_deposito}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Código fotos:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.codigo_fotos}}" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Nº total de individuos:</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.numero_total_individuos}}" readonly>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Crias:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.crias}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Infantes:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.infantes}}" readonly>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Juvenil:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.juvenil}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Adulto:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.adulto}}" readonly>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Peso (gr):</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.peso}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Sexo:</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.sexo}}" readonly>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Longitud total (cm):</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.longitud_total}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Longitud antebrazo (cm):</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.longitud_antebrazo}}" readonly>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Longitud tibia (cm):</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.longitud_tibia}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Longitud pata (cm):</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.longitud_pata}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Longitud oreja (cm):</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.longitud_oreja}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><b>Longitud tragus (cm):</b></span>
                                            </div>
                                            <input type="text" class="form-control" value="{{mamiferos_bd_unic.longitud_tragus}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><b>Longitud cola (cm):</b></span>
                                        </div>
                                        <input type="text" class="form-control" value="{{mamiferos_bd_unic.longitud_cola}}" readonly>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="card-footer text-center">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <a type="button" href="{% url 'export_excel_bd_mamiferos_unic' mamiferos_bd_unic.id %}" class="btn btn-success">Descargar Excel</a>
                            </div>
                            <div class="form-group col-md-6">
                                <a type="button" class="btn btn-danger" onclick="javascript:window.print()" style="color: white">Exportar PDF</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Mas Opciones</h3>
                        </div>

                        <div class="card-body">
                            <a href="{% url 'lista_formularios_mamiferos' %}" class="btn btn-primary col-md-3" type="submit" >Volver</a>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    {% include "footer.html" %}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
{% block javascript %}
<script src="/static/admin-lte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="/static/admin-lte/plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src=/static/admin-lte/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- InputMask -->
<script src="/static/admin-lte/plugins/moment/moment.min.js"></script>
<script src="/static/admin-lte/plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="/static/admin-lte/plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="/static/admin-lte/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/static/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Bootstrap Switch -->
<script src="/static/admin-lte/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- BS-Stepper -->
<script src="/static/admin-lte/plugins/bs-stepper/js/bs-stepper.min.js"></script>
<!-- dropzonejs -->
<script src="/static/admin-lte/plugins/dropzone/min/dropzone.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/admin-lte/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/admin-lte/dist/js/demo.js"></script>
<!-- Page specific script -->
<script src="/static/admin/js/fecha.js"></script>
{% endblock %}
</body>
</html>